<app-menu></app-menu>
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-title size="large">{{titleAllCourses}}</ion-title>
  <ion-card *ngFor="let course of allCourses">
    <ion-card-header>
      <ion-card-title>{{course.idCourse}} - {{course.name}}</ion-card-title>
      <ion-card-subtitle>Descripción: {{course.description}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ng-container *ngFor="let schedule of schedules">
        <ion-list *ngIf="schedule.idCourse == course.idCourse">
          <ion-card>
            <ion-card-header>
              <ion-card-subtitle>Sección {{schedule.section}} ({{schedule.startTime}} - {{schedule.endTime}})
              </ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              <ion-button expand="full" (click)="toAssign(schedule.idSchedule)">Asignar</ion-button>
            </ion-card-content>
          </ion-card>
        </ion-list>
      </ng-container>
    </ion-card-content>
  </ion-card>

  <br>
  <ion-title size="large">{{titleMyCourses}}</ion-title>
  <ion-card *ngFor="let course of myCourses">
    <ion-card-header>
      <ion-card-title>{{course.idCourse}} - {{course.Course}}</ion-card-title>
      <ion-card-subtitle>Sección {{course.section}} ({{course.startTime}} - {{course.endTime}})</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-button expand="full" [routerLink]="['course', course.idSchedule]">Ver
        Curso</ion-button>
      <ion-button color="danger" expand="full" (click)="onDelete(course.idAssignment)">
        Desasignación</ion-button>
    </ion-card-content>
  </ion-card>

  <ng-container *ngIf="user.isAssistant">
    <br>
    <ion-title size="large">{{titleAssistantCourses}}</ion-title>
    <ion-card *ngFor="let course of assistantCourses">
      <ion-card-header>
        <ion-card-title>{{course.Course}} | {{course.yearSemester}}</ion-card-title>
        <ion-card-subtitle>Sección {{course.section}} ({{course.startTime}} - {{course.endTime}})</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-button expand="full" [routerLink]="['course', course.idSchedule]">Administrar</ion-button>
      </ion-card-content>
    </ion-card>
  </ng-container>
</ion-content>